<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeadRobotRestaurant"
        tools:targetApi="31">
        <activity
            android:name=".OrderActivity"
            android:exported="true"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CartActivity"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DeadRobotRestaurant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Payment"
            android:exported="false"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.DeadRobotRestaurant"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>